/*=================================

  Variable

=================================*/
:root {
  --bp-small: 640px;
  --bp-medium: 768px;
  --bp-large: 1024px;
}

/*=================================

  Fonts

=================================*/

@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Progress.ttf") format("ttf");
}

@font-face {
  font-family: "Playfair";
  font-weight: 100;
  font-style: Light;
  src: url("/fonts/Playfair-VariableFont.ttf") format("truetype");
}

/*=================================

  Generals

=================================*/
* {
  margin: 0;
  font-family: Satoshi, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
